extends ../layout

block content
  h1= title
  p Listing all books
  .add-new
    a(href="/books/new") Add New Book to List

  form(action="")
    label(for='search') Search: 
    input#search(name='search' type='text') 
    button(type="submit") Submit

  
  each book in books
    h2= book.title
    p By 
      = book.author
    p Genre 
      = book.genre
    a(href = "/books/" + book.id) Read More &rarr;

  if results.previous != undefined
    a(class="previously" href ='/books?pageNumber=' + results.previous.pageNumber + '&limit=' + results.limit)="<-"
  - var n = 1;
  ul.page-list
    while n <= numberOfPages
      li
        a(href ='/books?pageNumber=' + n + '&limit=' + results.limit)= n++
  if results.next != undefined
    a(class="tobenext" href ='/books?pageNumber=' + results.next.pageNumber + '&limit=' + results.limit)="->"